{% extends 'base_supplier.html' %}
{% block title %}Add a New Product{% endblock %}
{% block add_product %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a Price for {{ product.product_name }} </h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                   <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" name="continue" class="btn btn-success">Continue and add another</button>
                                <button type="submit" name="submit" value='submit' class="btn btn-success">Submit</button>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is CheapHerder?</h3>
                    <p>CheapHerder is a marketplace that joins businesses to buy your products.</p>
                    <h3>How do I add an item to my catalog?</h3>
                    <p>First, create a new product by filling out the form on this page. Once a product is created it will be visible to users</p>
                    <h3>Just fill in the Price per unit for the minimum quantity</h3>
                    <ul>
                        <li>Have a resolution of 512x512</li>
                        <li>Use common image formats such as .JPG, .GIF, or .PNG</li>
                        <li>Remain under the 2MB limit.</li>
                        <li>Square images look best</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}