{% extends "base_org.html" %}

{% load static %}

{% block custom_styles %}
    <link href="{% static 'CheapHerder/tools/groupSingle.css' %}" rel="stylesheet">
{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}
  
  
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
       <h1>{{ object.name }}</h1>
      </header>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-outline-secondary">
            <div class="card-header">
              Members
              {% if allow_pledge %}
                <button type="button" class="btn btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Pledge to Group</button>
                <span class="float-sm-right"><label> At least {{items_left}} pledges required to reach target</label></span>
              {% else %}
               <span class="float-sm-right"> <label> Target Reached !!</label> </span>

              {% endif %}
            </div>

            <div class="card-body">
              <div class="row">
              {% for pmt_pledge in pmt_pledges %}
                <div class="col-md-6">
                  <b>{{pmt_pledge.username}}</b>
                </div>
                <div class="col-md-6">
                  <b>Pledged: $ {{ pmt_pledge.amount_pledged }} </b>
                </div>
                <hr>
              {% empty %}
              <p>There are currently no members in this group</p>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="card card-outline-secondary">
            <div class="card-header">
              Live, real-time chat with your groups
            </div>

            <div class="card-body">
              <textarea class="form-control send-content"></textarea><br />
              <button class="btn btn-primary send">Send message</button> <br /> <hr />
              <div class="board">
                {% for message in object.message_set.all %}
                  <div class="outer-box">
                    <span class="writer">{{ message.username }}</span><br />
                    <div class="message-box">{{ message.text }}</div>
                  </div><br />
                {% endfor %}
              </div>

            </div>
          </div>
        </div>

      </div>

      <style>
        .message-box{
          background: #29ed70;
          border-radius: 10px;
          padding: 5px 10px;
          width: auto;
          display: inline-block;
          margin-top: 4px;
        }
        .writer{
          font-size: 12px;
          color: gray;
        }
        .board{
          overflow-y: scroll;
          max-height: 400px;
        }
      </style>

      <script>

        // Note that the path doesn't matter right now; any WebSocket
        // connection gets bumped over to WebSocket consumers
        socket = new WebSocket("ws://" + window.location.host + "/{{  object.pk }}/");
        socket.onmessage = function(e) {
          var json = JSON.parse(e.data);
          var message = json["text"];
          var username = json["username"];
          var inject = '<div class="outer-box"><span class="writer">'+username+'</span><br /><div class="message-box">' + message + '</div></div><br />'
          $(".board").prepend(inject);

        }
        socket.onopen = function() {

          $(document).ready(function() {
            $(".send").click(function(){
              var val = $(".send-content").val();
              socket.send(val);
              $(".send-content").val("");
            });
          });

        }
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();




      </script>

      <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pledge to group!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="" method="POST"> {% csrf_token %}
                  <div>
                    <label> Pledge Quantity</label>
                    <input type="number" class="form-control" name="pledge" placeholder="Enter quantity">
                    <small  class="form-text text-muted">Pledge to buy a quantity at the price of the target.</small>
                  </div>
                  <input type="hidden" name="group_pk" value = "{{object.pk}}" />
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      
      <br /><br /><br /><br /><br />
{% endblock %}

